{% extends 'base.html.twig' %}


{% block title %}About Page{% endblock %}

{% block header %}
    <h1>My Website</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h2>About Us</h2>
    <p>Learn more about our company and its mission.</p>
{% endblock %}

{% block footer %}
    <p>&copy; 2025 My Website</p>
{% endblock %}