{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block header %}
    <h1>My Website</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h2>Welcome!</h2>
    <p>This is the homepage content.</p>
{% endblock %}

{% block footer %}
    <p>&copy; 2025 My Website</p>
{% endblock %}